# Byte-compiled / optimized / DLL files
__pycache__/

*archive*
*figure_old*
*data_old*
*debug*
*.asv
.DS_store

LaboratoryNote

# Experiments
Experiments/MacroData/data/MacroData_raw.mat

Experiments/DetectEvent/figure/p05*
Experiments/DetectEvent/code/dev_plot_partial_event.m


# utils
utils/matlabcode_biax_v03/_*
utils/matlabcode_biax_v03/inferno.m
utils/matlabcode_biax_v03/viridis.m
utils/matlabcode_biax_v03/magma.m
utils/matlabcode_biax_v03/plasma.m

./Experiments/MacroData/data/DecimatedData_raw.mat
./Experiments/MacroData/data/MacroData_raw.mat
./Experiments/MacroData/data/DecimatedData_raw_paper.mat
./Experiments/MacroData/data/SlipData_raw.mat
./Experiments/DetectEvent/data_old/Macroscopic_stats_FB03_087.mat
./Experiments/DetectEvent/data_old/p03_eventdata_FB03_087/eventdata_FB03_087_event17.mat
./Experiments/DetectEvent/data_old/eventdata_master/eventdata_FB03_087_event17.mat
./Experiments/DetectEvent/data_old/eventdata_master/eventdata_FB03_087_event29.mat
./Experiments/DetectEvent/data_old/eventdata_master/eventdata_FB03_087_event14.mat
./Experiments/DetectEvent/data_old/eventdata_master/eventdata_FB03_087_event18.mat

